#block-text.block
  .content
    %h2.title Dashboard
    .inner
      %p.first
        Using this admin area you can control the content for the Stories from an Invisible Town app.

-content_for :sidebar, partial("base/sidebar")
