/* line 5, ../../app/stylesheets/application.scss */
#header {
  background-color: rgba(255, 255, 212, 0.5);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 4.5em;
  z-index: 2000;
}
/* line 13, ../../app/stylesheets/application.scss */
#header h1 {
  color: #333;
  text-align: center;
  font-family: 'Cabin Sketch', cursive;
  font-size: 200%;
  font-weight: normal;
  text-shadow: white 0px 1px 0px;
}
/* line 20, ../../app/stylesheets/application.scss */
#header h1 a {
  color: #333;
  text-decoration: none;
}
/* line 23, ../../app/stylesheets/application.scss */
#header h1 a:hover {
  color: #464;
}

/* line 30, ../../app/stylesheets/application.scss */
#map {
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 40px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 40px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 40px inset;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 40px inset;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 37, ../../app/stylesheets/application.scss */
#map #background {
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}
/* line 38, ../../app/stylesheets/application.scss */
#map #background:hover {
  background-color: white;
  cursor: pointer;
}
/* line 48, ../../app/stylesheets/application.scss */
#map #map_markers {
  position: absolute;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  margin: auto;
  display: block;
}
/* line 57, ../../app/stylesheets/application.scss */
#map #map_markers a {
  cursor: pointer;
}
/* line 61, ../../app/stylesheets/application.scss */
#map #map_image {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0px;
  margin: auto;
  display: block;
}

/* line 71, ../../app/stylesheets/application.scss */
.door {
  background-color: #26b5e8;
  width: 24px;
  height: 24px;
  font-size: 16px;
  padding-top: 4px;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
  font-weight: bold;
  color: white;
  display: block;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -o-border-radius: 12px;
  -ms-border-radius: 12px;
  -khtml-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px inset, white 0px 0px 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px inset, white 0px 0px 10px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px inset, white 0px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px inset, white 0px 0px 10px;
  text-decoration: none;
  cursor: pointer;
}

/* line 89, ../../app/stylesheets/application.scss */
.story {
  background-color: #efd500;
  width: 24px;
  height: 24px;
  display: block;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -o-border-radius: 12px;
  -ms-border-radius: 12px;
  -khtml-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px inset, white 0px 0px 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px inset, white 0px 0px 10px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px inset, white 0px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px inset, white 0px 0px 10px;
}

/* line 98, ../../app/stylesheets/application.scss */
body {
  overflow: hidden;
  font-family: "Heletica Neue", helvetica, arial, sans-serif;
  background-image: url(/images/hh_pattern_transparent.png);
}

/* line 104, ../../app/stylesheets/application.scss */
#fader {
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 4000;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 112, ../../app/stylesheets/application.scss */
#story {
  position: absolute;
  left: 25%;
  top: 0px;
  z-index: 5000;
  width: 50%;
  background-color: #fefdfa;
  -moz-box-shadow: rgba(30, 10, 0, 0.3) 0px 0px 10px inset, white 0px 0px 10px;
  -webkit-box-shadow: rgba(30, 10, 0, 0.3) 0px 0px 10px inset, white 0px 0px 10px;
  -o-box-shadow: rgba(30, 10, 0, 0.3) 0px 0px 10px inset, white 0px 0px 10px;
  box-shadow: rgba(30, 10, 0, 0.3) 0px 0px 10px inset, white 0px 0px 10px;
  border: 1px rgba(0, 0, 0, 0.2) solid;
  padding: 1.5em;
}
/* line 122, ../../app/stylesheets/application.scss */
#story h1 {
  font-family: 'Cabin Sketch', cursive;
  font-weight: normal;
  padding: 0px;
  margin-top: 0px;
}

/* line 130, ../../app/stylesheets/application.scss */
.done_button {
  background-color: #ddaa11;
  color: white;
  font-weight: bold;
  padding: 0.5em;
  cursor: pointer;
}

/* TipTip CSS - Version 1.2 */
/* line 140, ../../app/stylesheets/application.scss */
#tiptip_holder {
  font-family: 'Cabin Sketch', cursive;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
}

/* line 149, ../../app/stylesheets/application.scss */
#tiptip_holder.tip_top {
  padding-bottom: 5px;
}

/* line 153, ../../app/stylesheets/application.scss */
#tiptip_holder.tip_bottom {
  padding-top: 5px;
}

/* line 157, ../../app/stylesheets/application.scss */
#tiptip_holder.tip_right {
  padding-left: 5px;
}

/* line 161, ../../app/stylesheets/application.scss */
#tiptip_holder.tip_left {
  padding-right: 5px;
}

/* line 165, ../../app/stylesheets/application.scss */
#tiptip_content {
  font-size: 125%;
  color: #000;
  text-shadow: 0 0 2px #fff;
  padding: 4px 8px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background-color: #e1e1e1;
  background-color: rgba(225, 225, 225, 0.92);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eeeeee), to(white));
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  box-shadow: 0 0 3px #555;
  -webkit-box-shadow: 0 0 3px #555;
  -moz-box-shadow: 0 0 3px #555;
}

/* line 182, ../../app/stylesheets/application.scss */
#tiptip_arrow, #tiptip_arrow_inner {
  position: absolute;
  border-color: transparent;
  border-style: solid;
  border-width: 6px;
  height: 0;
  width: 0;
}

/* line 191, ../../app/stylesheets/application.scss */
#tiptip_holder.tip_top #tiptip_arrow {
  border-top-color: #222;
  border-top-color: rgba(255, 255, 255, 0.35);
}

/* line 196, ../../app/stylesheets/application.scss */
#tiptip_holder.tip_bottom #tiptip_arrow {
  border-bottom-color: #222;
  border-bottom-color: rgba(255, 255, 255, 0.35);
}

/* line 201, ../../app/stylesheets/application.scss */
#tiptip_holder.tip_right #tiptip_arrow {
  border-right-color: #222;
  border-right-color: rgba(255, 255, 255, 0.35);
}

/* line 206, ../../app/stylesheets/application.scss */
#tiptip_holder.tip_left #tiptip_arrow {
  border-left-color: #222;
  border-left-color: rgba(255, 255, 255, 0.35);
}

/* line 211, ../../app/stylesheets/application.scss */
#tiptip_holder.tip_top #tiptip_arrow_inner {
  margin-top: -7px;
  margin-left: -6px;
  border-top-color: #e1e1e1;
  border-top-color: rgba(225, 225, 225, 0.92);
}

/* line 218, ../../app/stylesheets/application.scss */
#tiptip_holder.tip_bottom #tiptip_arrow_inner {
  margin-top: -5px;
  margin-left: -6px;
  border-bottom-color: #e1e1e1;
  border-bottom-color: rgba(225, 225, 225, 0.92);
}

/* line 225, ../../app/stylesheets/application.scss */
#tiptip_holder.tip_right #tiptip_arrow_inner {
  margin-top: -6px;
  margin-left: -5px;
  border-right-color: #e1e1e1;
  border-right-color: rgba(225, 225, 225, 0.92);
}

/* line 232, ../../app/stylesheets/application.scss */
#tiptip_holder.tip_left #tiptip_arrow_inner {
  margin-top: -6px;
  margin-left: -7px;
  border-left-color: #e1e1e1;
  border-left-color: rgba(225, 225, 225, 0.92);
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  /* line 241, ../../app/stylesheets/application.scss */
  #tiptip_content {
    padding: 4px 8px 5px 8px;
    background-color: rgba(245, 245, 245, 0.88);
  }

  /* line 245, ../../app/stylesheets/application.scss */
  #tiptip_holder.tip_bottom #tiptip_arrow_inner {
    border-bottom-color: rgba(245, 245, 245, 0.88);
  }

  /* line 248, ../../app/stylesheets/application.scss */
  #tiptip_holder.tip_top #tiptip_arrow_inner {
    border-top-color: rgba(220, 220, 220, 0.92);
  }
}
