/* line 6, ../../app/stylesheets/application.scss */
input:hover, a:hover {
  outline: none;
}

/* line 9, ../../app/stylesheets/application.scss */
a {
  color: #26b5e8;
  text-decoration: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/* line 12, ../../app/stylesheets/application.scss */
a:hover {
  color: #54c5ed;
}

/* line 23, ../../app/stylesheets/application.scss */
#header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 4.5em;
  z-index: 2000;
}
/* line 30, ../../app/stylesheets/application.scss */
#header h1 {
  color: #333;
  text-align: center;
  font-family: 'Cabin Sketch', cursive;
  font-size: 200%;
  font-weight: normal;
  text-shadow: white 0px 1px 0px;
}
/* line 37, ../../app/stylesheets/application.scss */
#header h1 a {
  color: #333;
  text-decoration: none;
}
/* line 40, ../../app/stylesheets/application.scss */
#header h1 a:hover {
  color: #464;
}

/* line 47, ../../app/stylesheets/application.scss */
#map {
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 40px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 40px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 40px inset;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 40px inset;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 54, ../../app/stylesheets/application.scss */
#map #background {
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}
/* line 55, ../../app/stylesheets/application.scss */
#map #background:hover {
  cursor: pointer;
}
/* line 64, ../../app/stylesheets/application.scss */
#map #map_markers {
  position: absolute;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  margin: auto;
  display: block;
}
/* line 73, ../../app/stylesheets/application.scss */
#map #map_markers a {
  cursor: pointer;
}
/* line 77, ../../app/stylesheets/application.scss */
#map #map_image {
  z-index: 5;
  position: absolute;
  top: 80px;
  left: 0px;
  margin: auto;
  display: block;
}
/* line 84, ../../app/stylesheets/application.scss */
#map #map_image img {
  border: 4px solid white;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
}

/* line 91, ../../app/stylesheets/application.scss */
.door {
  background-color: #26b5e8;
  width: 24px;
  height: 24px;
  font-size: 16px;
  padding-top: 4px;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
  font-weight: bold;
  color: white;
  display: block;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -o-border-radius: 12px;
  -ms-border-radius: 12px;
  -khtml-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px inset, white 0px 0px 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px inset, white 0px 0px 10px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px inset, white 0px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px inset, white 0px 0px 10px;
  text-decoration: none;
  cursor: pointer;
}

/* line 109, ../../app/stylesheets/application.scss */
.story {
  background-color: #efd500;
  width: 24px;
  height: 24px;
  display: block;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -o-border-radius: 12px;
  -ms-border-radius: 12px;
  -khtml-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px inset, white 0px 0px 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px inset, white 0px 0px 10px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px inset, white 0px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px inset, white 0px 0px 10px;
}

/* line 118, ../../app/stylesheets/application.scss */
body {
  overflow: hidden;
  font-family: 'Cabin Sketch', cursive;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #ffffff), color-stop(100%, #8888bb));
  background: -webkit-radial-gradient(#ffffff, #8888bb);
  background: -moz-radial-gradient(#ffffff, #8888bb);
  background: -o-radial-gradient(#ffffff, #8888bb);
  background: -ms-radial-gradient(#ffffff, #8888bb);
  background: radial-gradient(#ffffff, #8888bb);
}

/* line 124, ../../app/stylesheets/application.scss */
#fader {
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 4000;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 132, ../../app/stylesheets/application.scss */
#story {
  display: none;
  position: absolute;
  left: 25%;
  top: 0px;
  z-index: 5000;
  width: 50%;
  background-color: #fefdfa;
  -moz-box-shadow: rgba(30, 10, 0, 0.3) 0px 0px 10px inset, white 0px 0px 10px;
  -webkit-box-shadow: rgba(30, 10, 0, 0.3) 0px 0px 10px inset, white 0px 0px 10px;
  -o-box-shadow: rgba(30, 10, 0, 0.3) 0px 0px 10px inset, white 0px 0px 10px;
  box-shadow: rgba(30, 10, 0, 0.3) 0px 0px 10px inset, white 0px 0px 10px;
  border: 1px rgba(0, 0, 0, 0.2) solid;
  padding: 1.5em;
}
/* line 143, ../../app/stylesheets/application.scss */
#story h1 {
  font-family: 'Cabin Sketch', cursive;
  font-weight: normal;
  padding: 0px;
  margin-top: 0px;
}

/* line 151, ../../app/stylesheets/application.scss */
#back {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9500;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1em;
  font-size: 64px;
  color: #888;
  cursor: pointer;
  text-decoration: none;
}
/* line 163, ../../app/stylesheets/application.scss */
#back:hover {
  color: black;
}

/* line 167, ../../app/stylesheets/application.scss */
.done_button {
  background-color: #ddaa11;
  color: white;
  font-weight: bold;
  padding: 0.5em;
  cursor: pointer;
}

/* TipTip CSS - Version 1.2 */
/* line 177, ../../app/stylesheets/application.scss */
#tiptip_holder {
  font-family: 'Cabin Sketch', cursive;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
}

/* line 186, ../../app/stylesheets/application.scss */
#tiptip_holder.tip_top {
  padding-bottom: 5px;
}

/* line 190, ../../app/stylesheets/application.scss */
#tiptip_holder.tip_bottom {
  padding-top: 5px;
}

/* line 194, ../../app/stylesheets/application.scss */
#tiptip_holder.tip_right {
  padding-left: 5px;
}

/* line 198, ../../app/stylesheets/application.scss */
#tiptip_holder.tip_left {
  padding-right: 5px;
}

/* line 202, ../../app/stylesheets/application.scss */
#tiptip_content {
  font-size: 125%;
  color: #000;
  text-shadow: 0 0 2px #fff;
  padding: 4px 8px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background-color: #e1e1e1;
  background-color: rgba(225, 225, 225, 0.92);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eeeeee), to(white));
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  box-shadow: 0 0 3px #555;
  -webkit-box-shadow: 0 0 3px #555;
  -moz-box-shadow: 0 0 3px #555;
}

/* line 219, ../../app/stylesheets/application.scss */
#tiptip_arrow, #tiptip_arrow_inner {
  position: absolute;
  border-color: transparent;
  border-style: solid;
  border-width: 6px;
  height: 0;
  width: 0;
}

/* line 228, ../../app/stylesheets/application.scss */
#tiptip_holder.tip_top #tiptip_arrow {
  border-top-color: #222;
  border-top-color: rgba(255, 255, 255, 0.35);
}

/* line 233, ../../app/stylesheets/application.scss */
#tiptip_holder.tip_bottom #tiptip_arrow {
  border-bottom-color: #222;
  border-bottom-color: rgba(255, 255, 255, 0.35);
}

/* line 238, ../../app/stylesheets/application.scss */
#tiptip_holder.tip_right #tiptip_arrow {
  border-right-color: #222;
  border-right-color: rgba(255, 255, 255, 0.35);
}

/* line 243, ../../app/stylesheets/application.scss */
#tiptip_holder.tip_left #tiptip_arrow {
  border-left-color: #222;
  border-left-color: rgba(255, 255, 255, 0.35);
}

/* line 248, ../../app/stylesheets/application.scss */
#tiptip_holder.tip_top #tiptip_arrow_inner {
  margin-top: -7px;
  margin-left: -6px;
  border-top-color: #e1e1e1;
  border-top-color: rgba(225, 225, 225, 0.92);
}

/* line 255, ../../app/stylesheets/application.scss */
#tiptip_holder.tip_bottom #tiptip_arrow_inner {
  margin-top: -5px;
  margin-left: -6px;
  border-bottom-color: #e1e1e1;
  border-bottom-color: rgba(225, 225, 225, 0.92);
}

/* line 262, ../../app/stylesheets/application.scss */
#tiptip_holder.tip_right #tiptip_arrow_inner {
  margin-top: -6px;
  margin-left: -5px;
  border-right-color: #e1e1e1;
  border-right-color: rgba(225, 225, 225, 0.92);
}

/* line 269, ../../app/stylesheets/application.scss */
#tiptip_holder.tip_left #tiptip_arrow_inner {
  margin-top: -6px;
  margin-left: -7px;
  border-left-color: #e1e1e1;
  border-left-color: rgba(225, 225, 225, 0.92);
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  /* line 278, ../../app/stylesheets/application.scss */
  #tiptip_content {
    padding: 4px 8px 5px 8px;
    background-color: rgba(245, 245, 245, 0.88);
  }

  /* line 282, ../../app/stylesheets/application.scss */
  #tiptip_holder.tip_bottom #tiptip_arrow_inner {
    border-bottom-color: rgba(245, 245, 245, 0.88);
  }

  /* line 285, ../../app/stylesheets/application.scss */
  #tiptip_holder.tip_top #tiptip_arrow_inner {
    border-top-color: rgba(220, 220, 220, 0.92);
  }
}
/* line 290, ../../app/stylesheets/application.scss */
#sidebar {
  font-family: 'Cabin Sketch', cursive;
  position: absolute;
  bottom: 18px;
  left: 18px;
  width: 180px;
  z-index: 10000;
}
/* line 297, ../../app/stylesheets/application.scss */
#sidebar ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
/* line 302, ../../app/stylesheets/application.scss */
#sidebar ul li a {
  color: #26b5e8;
  text-decoration: none;
}
/* line 305, ../../app/stylesheets/application.scss */
#sidebar ul li a:visited {
  color: #999;
}
/* line 308, ../../app/stylesheets/application.scss */
#sidebar ul li a:hover {
  color: #54c5ed;
}
