/* line 8, ../../app/stylesheets/application.scss */
input:hover, a:hover {
  outline: none;
}

/* line 11, ../../app/stylesheets/application.scss */
a {
  color: #26b5e8;
  text-decoration: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/* line 14, ../../app/stylesheets/application.scss */
a:hover {
  color: #54c5ed;
  cursor: pointer;
}

/* line 26, ../../app/stylesheets/application.scss */
h1, h2, p {
  font-weight: 100;
  color: #776666;
}

/* line 31, ../../app/stylesheets/application.scss */
#hugh {
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 0px;
}
/* line 36, ../../app/stylesheets/application.scss */
#hugh img {
  width: 300px;
  height: 300px;
}

/* line 42, ../../app/stylesheets/application.scss */
#header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 4.5em;
  z-index: 2000;
}
/* line 49, ../../app/stylesheets/application.scss */
#header h1 {
  color: #26b5e8;
  text-align: center;
  font-family: 'Cabin Sketch', cursive;
  font-size: 200%;
  font-weight: normal;
  text-shadow: white 0px 1px 0px;
}
/* line 56, ../../app/stylesheets/application.scss */
#header h1 a {
  color: #333;
  text-decoration: none;
}
/* line 59, ../../app/stylesheets/application.scss */
#header h1 a:hover {
  color: #464;
}

/* line 66, ../../app/stylesheets/application.scss */
#map {
  -moz-box-shadow: #ffc500 0px 0px 40px inset;
  -webkit-box-shadow: #ffc500 0px 0px 40px inset;
  -o-box-shadow: #ffc500 0px 0px 40px inset;
  box-shadow: #ffc500 0px 0px 40px inset;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 74, ../../app/stylesheets/application.scss */
#map #background {
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}
/* line 75, ../../app/stylesheets/application.scss */
#map #background:hover {
  cursor: pointer;
}
/* line 84, ../../app/stylesheets/application.scss */
#map #map_markers {
  position: absolute;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  margin: auto;
  display: block;
}
/* line 93, ../../app/stylesheets/application.scss */
#map #map_markers a {
  cursor: pointer;
}
/* line 97, ../../app/stylesheets/application.scss */
#map #map_image {
  z-index: 5;
  position: absolute;
  top: 80px;
  left: 0px;
  margin: auto;
  display: block;
}
/* line 104, ../../app/stylesheets/application.scss */
#map #map_image img {
  border: 4px solid white;
}

/* line 110, ../../app/stylesheets/application.scss */
.door {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #26b5e8;
  width: 24px;
  height: 24px;
  font-size: 16px;
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
  font-weight: bold;
  color: white;
  display: block;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -o-border-radius: 12px;
  -ms-border-radius: 12px;
  -khtml-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px inset, white 0px 0px 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px inset, white 0px 0px 10px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px inset, white 0px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px inset, white 0px 0px 10px;
  text-decoration: none;
  cursor: pointer;
}
/* line 127, ../../app/stylesheets/application.scss */
.door:hover {
  background-color: #54c5ed;
  color: #26b5e8;
}

/* line 133, ../../app/stylesheets/application.scss */
.story {
  background-color: #efd500;
  width: 24px;
  height: 24px;
  display: block;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -o-border-radius: 12px;
  -ms-border-radius: 12px;
  -khtml-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px inset, white 0px 0px 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px inset, white 0px 0px 10px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px inset, white 0px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px inset, white 0px 0px 10px;
}
/* line 140, ../../app/stylesheets/application.scss */
.story:hover {
  background-color: #ffe723;
}

/* line 145, ../../app/stylesheets/application.scss */
body {
  overflow: hidden;
  font-family: 'Cabin Sketch', cursive;
  background-color: #ffd;
  color: #776666;
}

/* line 153, ../../app/stylesheets/application.scss */
.hidden {
  display: none !important;
}

/* line 157, ../../app/stylesheets/application.scss */
#fader {
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 4000;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 165, ../../app/stylesheets/application.scss */
#story {
  display: none;
  position: absolute;
  margin: auto;
  top: 84px;
  z-index: 5000;
  width: 480px !important;
  background-color: #fefdfa;
  border: 2px solid white;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px;
  padding: 1.5em;
}
/* line 177, ../../app/stylesheets/application.scss */
#story h1 {
  font-family: 'Cabin Sketch', cursive;
  font-weight: 100;
  padding: 0px;
  margin-top: 0px;
}

/* line 185, ../../app/stylesheets/application.scss */
#clouds {
  background-image: url(/images/clouds-trees.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 900px;
}

/* line 192, ../../app/stylesheets/application.scss */
#help_link {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 5000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #26b5e8;
  width: 24px;
  height: 24px;
  font-size: 16px;
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
  font-weight: bold;
  color: white;
  display: block;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -o-border-radius: 12px;
  -ms-border-radius: 12px;
  -khtml-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px inset, white 0px 0px 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px inset, white 0px 0px 10px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px inset, white 0px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px inset, white 0px 0px 10px;
  text-decoration: none;
  cursor: pointer;
}
/* line 213, ../../app/stylesheets/application.scss */
#help_link:hover {
  background-color: #54c5ed;
  color: #26b5e8;
}

/* line 219, ../../app/stylesheets/application.scss */
#help {
  width: 100%;
  height: 100%;
  padding-top: 120px;
  z-index: 200000;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 229, ../../app/stylesheets/application.scss */
#help .help_container {
  margin: auto;
  width: 60%;
  background-color: white;
  padding: 1.5em;
}
/* line 235, ../../app/stylesheets/application.scss */
#help.hidden {
  display: none;
}

/* line 240, ../../app/stylesheets/application.scss */
#back {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9500;
  padding: 1em;
  font-size: 64px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-decoration: none;
  text-shadow: white 2px 2px 2px 2px;
}
/* line 252, ../../app/stylesheets/application.scss */
#back:hover {
  color: black;
}

/* line 257, ../../app/stylesheets/application.scss */
#greeting {
  position: absolute;
  top: 80px;
  right: 60px;
  width: 180px;
  z-index: 10;
}
/* line 263, ../../app/stylesheets/application.scss */
#greeting #speech {
  width: 1px;
  height: 16px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid #26b5e8;
  margin-left: 60px;
}
/* line 271, ../../app/stylesheets/application.scss */
#greeting #greets {
  background-color: #26b5e8;
  color: white;
  padding: 0.5em;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  -o-border-radius: 16px;
  -ms-border-radius: 16px;
  -khtml-border-radius: 16px;
  border-radius: 16px;
  font-size: 18px;
}

/* line 280, ../../app/stylesheets/application.scss */
.done_button {
  background-color: #ddaa11;
  color: white;
  font-weight: bold;
  padding: 0.5em;
  cursor: pointer;
}

/* TipTip CSS - Version 1.2 */
/* line 290, ../../app/stylesheets/application.scss */
#tiptip_holder {
  font-family: 'Cabin Sketch', cursive;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
}

/* line 299, ../../app/stylesheets/application.scss */
#tiptip_holder.tip_top {
  padding-bottom: 5px;
}

/* line 303, ../../app/stylesheets/application.scss */
#tiptip_holder.tip_bottom {
  padding-top: 5px;
}

/* line 307, ../../app/stylesheets/application.scss */
#tiptip_holder.tip_right {
  padding-left: 5px;
}

/* line 311, ../../app/stylesheets/application.scss */
#tiptip_holder.tip_left {
  padding-right: 5px;
}

/* line 315, ../../app/stylesheets/application.scss */
#tiptip_content {
  font-size: 125%;
  color: #000;
  text-shadow: 0 0 2px #fff;
  padding: 4px 8px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background-color: #e1e1e1;
  background-color: rgba(225, 225, 225, 0.92);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eeeeee), to(white));
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  box-shadow: 0 0 3px #555;
  -webkit-box-shadow: 0 0 3px #555;
  -moz-box-shadow: 0 0 3px #555;
}

/* line 332, ../../app/stylesheets/application.scss */
#tiptip_arrow, #tiptip_arrow_inner {
  position: absolute;
  border-color: transparent;
  border-style: solid;
  border-width: 6px;
  height: 0;
  width: 0;
}

/* line 341, ../../app/stylesheets/application.scss */
#tiptip_holder.tip_top #tiptip_arrow {
  border-top-color: #222;
  border-top-color: rgba(255, 255, 255, 0.35);
}

/* line 346, ../../app/stylesheets/application.scss */
#tiptip_holder.tip_bottom #tiptip_arrow {
  border-bottom-color: #222;
  border-bottom-color: rgba(255, 255, 255, 0.35);
}

/* line 351, ../../app/stylesheets/application.scss */
#tiptip_holder.tip_right #tiptip_arrow {
  border-right-color: #222;
  border-right-color: rgba(255, 255, 255, 0.35);
}

/* line 356, ../../app/stylesheets/application.scss */
#tiptip_holder.tip_left #tiptip_arrow {
  border-left-color: #222;
  border-left-color: rgba(255, 255, 255, 0.35);
}

/* line 361, ../../app/stylesheets/application.scss */
#tiptip_holder.tip_top #tiptip_arrow_inner {
  margin-top: -7px;
  margin-left: -6px;
  border-top-color: #e1e1e1;
  border-top-color: rgba(225, 225, 225, 0.92);
}

/* line 368, ../../app/stylesheets/application.scss */
#tiptip_holder.tip_bottom #tiptip_arrow_inner {
  margin-top: -5px;
  margin-left: -6px;
  border-bottom-color: #e1e1e1;
  border-bottom-color: rgba(225, 225, 225, 0.92);
}

/* line 375, ../../app/stylesheets/application.scss */
#tiptip_holder.tip_right #tiptip_arrow_inner {
  margin-top: -6px;
  margin-left: -5px;
  border-right-color: #e1e1e1;
  border-right-color: rgba(225, 225, 225, 0.92);
}

/* line 382, ../../app/stylesheets/application.scss */
#tiptip_holder.tip_left #tiptip_arrow_inner {
  margin-top: -6px;
  margin-left: -7px;
  border-left-color: #e1e1e1;
  border-left-color: rgba(225, 225, 225, 0.92);
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  /* line 391, ../../app/stylesheets/application.scss */
  #tiptip_content {
    padding: 4px 8px 5px 8px;
    background-color: rgba(245, 245, 245, 0.88);
  }

  /* line 395, ../../app/stylesheets/application.scss */
  #tiptip_holder.tip_bottom #tiptip_arrow_inner {
    border-bottom-color: rgba(245, 245, 245, 0.88);
  }

  /* line 398, ../../app/stylesheets/application.scss */
  #tiptip_holder.tip_top #tiptip_arrow_inner {
    border-top-color: rgba(220, 220, 220, 0.92);
  }
}
/* line 403, ../../app/stylesheets/application.scss */
#sidebar {
  font-family: 'Cabin Sketch', cursive;
  position: absolute;
  bottom: 18px;
  left: 18px;
  width: 180px;
  z-index: 10000;
  background-color: white;
  padding: 0.5em;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
  -o-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
}
/* line 413, ../../app/stylesheets/application.scss */
#sidebar h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}
/* line 417, ../../app/stylesheets/application.scss */
#sidebar ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
/* line 422, ../../app/stylesheets/application.scss */
#sidebar ul li a {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 4px;
  -o-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 4px;
  color: #26b5e8;
  text-decoration: none;
  background-color: white;
  padding: 0.3em;
  display: block;
  margin-bottom: 0.3em;
}
/* line 430, ../../app/stylesheets/application.scss */
#sidebar ul li a:visited {
  color: #999;
}
/* line 433, ../../app/stylesheets/application.scss */
#sidebar ul li a:hover {
  color: #54c5ed;
}

/* line 441, ../../app/stylesheets/application.scss */
#sidebar_inventory {
  background-image: url(/images/memory-box.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  display: block;
  width: 190px;
  height: 350px;
  position: absolute;
  z-index: 40000;
  bottom: 0px;
  right: 0px;
}

/* line 454, ../../app/stylesheets/application.scss */
#inventory {
  width: 100%;
  height: 100%;
  padding-top: 120px;
  z-index: 200000;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 464, ../../app/stylesheets/application.scss */
#inventory .inventory_container {
  margin: auto;
  width: 60%;
  background-color: white;
  padding: 1.5em;
}
/* line 469, ../../app/stylesheets/application.scss */
#inventory .inventory_container #inventory_list {
  height: 320px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #efd500;
}
/* line 474, ../../app/stylesheets/application.scss */
#inventory .inventory_container #inventory_list li {
  width: 33%;
}
/* line 480, ../../app/stylesheets/application.scss */
#inventory.hidden {
  display: none;
}
