@import "compass/css3";

#header {
  background-color: rgba(255,255,255, 0.5);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 3em;
  z-index: 2000;
  h1 {
    color: #333;
    text-align: center;
    font-family: 'Cabin Sketch', cursive;
    font-size: 125%;
    @include text-shadow( white 0px 1px 0px);
    a {
      color: #333;
      text-decoration: none;
      &:hover {
        color: #464;
      }
    }
  }
}

#map {
  @include box-shadow(rgba(0,0,0,0.5) 0px 0px 40px inset);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ddd;
  #background {
    &:hover {
      background-color: white;
      cursor: pointer;
    }
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
  }
  #map_markers {
    position: absolute;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    margin: auto;
    display: block;
    a {
      cursor: pointer;
    }
  }
  #map_image {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 50px;
    margin: auto;
    display: block;
  }
}

.door {
  position: relative;
  background-color: green;
  width: 24px;
  height: 24px;
  display: block;
  @include border-radius(12px);
  @include box-shadow(rgba(0,0,0,0.5) 0px 0px 10px inset, rgba(255,255,255,1) 0px 0px 10px);
}

.story {
  position: relative;
  background-color: red;
  width: 24px;
  height: 24px;
  display: block;
  @include border-radius(12px);
  @include box-shadow(rgba(0,0,0,0.5) 0px 0px 10px inset, rgba(255,255,255,1) 0px 0px 10px);
}

body {
  overflow: hidden;
}