@import "compass/css3";

$orange: #ffc500;
$yellow: #efd500;
$blue: #26b5e8;
$text_colour: #766;

input:hover, a:hover {
  outline: none;
}
a {
  color: $blue;
  text-decoration: none;
  &:hover {
    color: lighten($blue, 10);
    cursor: pointer;
  }
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

h1, h2, p {
  font-weight: 100;
  color: $text_colour;
}

#hugh {
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 0px;
  img {
    width: 300px;
    height: 300px;
  }
}

#header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 4.5em;
  z-index: 2000;
  h1 {
    color: $blue;
    text-align: center;
    font-family: 'Cabin Sketch', cursive;
    font-size: 200%;
    font-weight: normal;
    @include text-shadow( white 0px 1px 0px);
    a {
      color: #333;
      text-decoration: none;
      &:hover {
        color: #464;
      }
    }
  }
}

#map {
  @include box-shadow($orange 0px 0px 40px inset);

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  #background {
    &:hover {
      cursor: pointer;
    }
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
  }
  #map_markers {
    position: absolute;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    margin: auto;
    display: block;
    a {
      cursor: pointer;
    }
  }
  #map_image {
    z-index: 5;
    position: absolute;
    top: 80px;
    left: 0px;
    margin: auto;
    display: block;
    img {
      border: 4px solid white;
    }
  }
}

.door {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: $blue;
  width: 24px;
  height: 24px;
  font-size: 16px;
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
  font-weight: bold;
  color: white;
  display: block;
  @include border-radius(12px);
  @include box-shadow(rgba(0,0,0,0.5) 0px 0px 10px inset, rgba(255,255,255,1) 0px 0px 10px);
  text-decoration: none;
  cursor: pointer;
  &:hover {
    background-color: lighten($blue, 10);
    color: $blue;
  }
}

.story {
  background-color: $yellow;
  width: 24px;
  height: 24px;
  display: block;
  @include border-radius(12px);
  @include box-shadow(rgba(0,0,0,0.5) 0px 0px 10px inset, rgba(255,255,255,1) 0px 0px 10px);
  &:hover {
    background-color: lighten($yellow, 10);
  }
}

body {
  overflow: hidden;
  font-family: 'Cabin Sketch', cursive;
  //@include background(radial-gradient(#fff, #88b 600px));
  background-color: #ffd;
  color: $text_colour;
}

.hidden {
  display: none !important;
}

#fader {
  background-color: rgba(255,255,255,0.5);
  z-index: 4000;
  position: absolute;
  top: 0;
  left: 0;
}

#story {
  display: none;
  position: absolute;
  margin: auto;
  top: 84px;
  z-index: 5000;
  width: 480px !important;
  background-color: #fefdfa;
  //@include box-shadow(rgba(30,10,0,0.3) 0px 0px 10px inset, rgba(255,255,255,1) 0px 0px 10px);
  border: 2px solid white;
  @include box-shadow(rgba(0,0,0,0.2) 0px 0px 6px);
  padding: 1.5em;
  h1 {
    font-family: 'Cabin Sketch', cursive;
    font-weight: 100;
    padding: 0px;
    margin-top: 0px;
  }
}

#clouds {
  background-image: url(/images/clouds-trees.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 900px;
}

#help_link {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 5000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: $blue;
  width: 24px;
  height: 24px;
  font-size: 16px;
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
  font-weight: bold;
  color: white;
  display: block;
  @include border-radius(12px);
  @include box-shadow(rgba(0,0,0,0.5) 0px 0px 10px inset, rgba(255,255,255,1) 0px 0px 10px);
  text-decoration: none;
  cursor: pointer;
  &:hover {
    background-color: lighten($blue, 10);
    color: $blue;
  }
}

#help {
  width: 100%;
  height: 100%;
  padding-top: 120px;
  z-index: 200000;
  display:block;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.5);
  .help_container {
    margin: auto;
    width: 60%;
    background-color: white;
    padding: 1.5em;
  }
  &.hidden {
    display: none;
  }
}

#back {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9500;
  padding: 1em;
  font-size: 64px;
  color: rgba(0,0,0,0.5);
  cursor: pointer;
  text-decoration: none;
  @include text-shadow(white 2px 2px 2px 2px);
  &:hover {
    color: black;
  }
}

#greeting {
  position: absolute;
  top: 80px;
  right: 60px;
  width: 180px;
  z-index: 10;
  #speech {
    width: 1px;
    height: 16px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid $blue;
    margin-left: 60px;
  }
  #greets {
    background-color: $blue;
    color: white;
    padding: 0.5em;
    @include border-radius(16px);
    font-size: 18px;
  }
}

.done_button {
  background-color: #ddaa11;
  color: white;
  font-weight: bold;
  padding: 0.5em;
  cursor: pointer;
}

/* TipTip CSS - Version 1.2 */

#tiptip_holder {
  font-family: 'Cabin Sketch', cursive;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}

#tiptip_holder.tip_top {
	padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
	padding-top: 5px;
}

#tiptip_holder.tip_right {
	padding-left: 5px;
}

#tiptip_holder.tip_left {
	padding-right: 5px;
}

#tiptip_content {
  font-size: 125%;
	color: #000;
	text-shadow: 0 0 2px #fff;
	padding: 4px 8px;
	border: 1px solid rgba(255,255,255,0.25);
	background-color: rgb(225,225,225);
	background-color: rgba(225,225,225,0.92);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#fff));
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 3px #555;
	-webkit-box-shadow: 0 0 3px #555;
	-moz-box-shadow: 0 0 3px #555;
}

#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
	border-top-color: #222;
	border-top-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
	border-bottom-color: #222;
	border-bottom-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
	border-right-color: #222;
	border-right-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
	border-left-color: #222;
	border-left-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: rgb(225,225,225);
	border-top-color: rgba(225,225,225,0.92);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: rgb(225,225,225);
	border-bottom-color: rgba(225,225,225,0.92);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: rgb(225,225,225);
	border-right-color: rgba(225,225,225,0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: rgb(225,225,225);
	border-left-color: rgba(225,225,225,0.92);
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {	
	#tiptip_content {
		padding: 4px 8px 5px 8px;
		background-color: rgba(245,245,245,0.88);
	}
	#tiptip_holder.tip_bottom #tiptip_arrow_inner { 
		border-bottom-color: rgba(245,245,245,0.88);
	}
	#tiptip_holder.tip_top #tiptip_arrow_inner { 
		border-top-color: rgba(220,220,220,0.92);
	}
}

#sidebar {
  font-family: 'Cabin Sketch', cursive;
  position: absolute;
  bottom: 18px;
  left: 18px;
  width: 180px;
  z-index: 10000;
  background-color: white;
  padding: 0.5em;
  @include box-shadow(rgba(0,0,0,0.1) 0px 0px 10px);
  h2 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    li {
      a {
        @include box-shadow(rgba(0,0,0,0.1) 0px 0px 4px);
        color: $blue;
        text-decoration: none;
        background-color: white;
        padding: 0.3em;
        display: block;
        margin-bottom: 0.3em;
        &:visited {
          color: #999;
        }
        &:hover {
          color: lighten($blue, 10);
        }
      }
    }
  }
}

#sidebar_inventory {
  background-image: url(/images/memory-box.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  display: block;
  width: 190px;
  height: 350px;
  position: absolute;
  z-index: 40000;
  bottom: 0px;
  right: 0px;
}

#inventory {
  width: 100%;
  height: 100%;
  padding-top: 120px;
  z-index: 200000;
  display:block;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.5);
  .inventory_container {
    margin: auto;
    width: 60%;
    background-color: white;
    padding: 1.5em;
    #inventory_list {
      height: 320px;
      overflow-x: hidden;
      overflow-y: scroll;
      background-color: $yellow;
      padding: 0px;
      margin: 0px;
      ul {
        padding: 0px;
        margin: 0px;
        width: 100%;
        li {
          width: 32%;
          display: inline-block;
          float: left;
          padding-left: 0.5em;
          padding-top: 0.5em;
          margin: 0px;
          .inner {
            padding: 1.5em;
            background-color: white;
            @include box-shadow(#aaa 2px 4px 4px inset);
          }
          &:nth-child(3n+1) {
            clear: both;
          }
        }
      }
    }
  }
  &.hidden {
    display: none;
  }
}

#introduction {
  width: 100%;
  h1 {
    color: $blue;
  }
  .intro_container {
    width: 640px;
    margin: auto;
    .description {
      z-index: 2;
      position: relative;
      padding-top: 2em;
      #start {
        font-size: 64px;
        background-color: $blue;
        padding: 0.4em;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        margin-top: 0.5em;
        color: white;
        @include border-radius(1em);
        @include box-shadow(rgba(0,0,0,0.2) 0px 0px 10px);
        display: inline-block;
        cursor: pointer;
        &:hover {
          background-color: lighten($blue, 10);
          color: white;
        }
      }
    }
    .here_is_hugh {
      margin-top: -8em;
    }
  }
  
}