.group
  =f.label :title
  =f.error_message_on :title
  =f.text_field :title, :class => :text_field
  %span.description The title that you would give this story

- if 1 == 0
  .group
    =f.label :post_id
    =f.error_message_on :post_id
    =f.text_field :post_id, :class => :text_field
    %span.description Unused at the moment

.group
  =f.label "Description"
  =f.error_message_on :description
  =f.text_area :description, :class => :text_area
  %span.description Make this story have some text. Leave this blank for photo / video / audio

.group
  =f.label "Aframe clip ID"
  =f.error_message_on :aframe_clip_id
  =f.text_field :aframe_clip_id, :class => :text_field
  %span.description Eg. 74bc12df-c5c1-43ce-af00-3cc0b106cbcc - you get this from the URL bar in Aframe

.group
  =f.label "Soundcloud track ID"
  =f.error_message_on :soundcloud_track_id
  =f.text_field :soundcloud_track_id, :class => :text_field
  %span.description Eg. 22947033 - you get this from the URL bar in Soundcloud

.group
  =f.label "Image URL"
  =f.error_message_on :image_url
  =f.text_field :image_url, :class => :text_field
  %span.description Eg. http://i1111.photobucket.com/albums/h479/steflewandowski/photo.jpg


.group
  =f.label "Happened on"
  =f.error_message_on :date_happened
  =f.date_field :date_happened, :class => :date_field

  =f.label "at"
  =f.error_message_on :time_of_day
  =f.time_field :time_of_day, :class => :time_field

.group
  =f.label "Can be viewed between the hours of"
  =f.error_message_on :viewable_from
  %select{:name=>"story[viewable_from]"}
    %option{:value => 0, :selected => (@story.viewable_from.blank? || @story.viewable_from == 0) } Any time
    - (1..24).each do |hour|
      %option{:value => hour, :selected => (@story.viewable_from == hour) }= hour
  =f.label "and"
  =f.error_message_on :viewable_to
  %select{:name=>"story[viewable_to]"}
    %option{:value => 0, :selected => (@story.viewable_to.blank? || @story.viewable_to == 0) } Any time
    - (1..24).each do |hour|
      %option{:value => hour, :selected => (@story.viewable_to == hour) }= hour

  %span.description Specify when a story can be viewed on the website


.group
  =f.label :map_id
  =f.error_message_on :map_id
  %select{:name=>"story[map_id]", :onchange => "console.log(this); $('#map_image').attr('src', $(this).find('option:selected').data().image);"}
    - maps = Map.all
    - maps.each do |map|
      %option{:"data-image" => map.image, :value=>map.id, :selected => @story.map_id == map.id}= map.title
  #x_y
    =f.label :x
    =f.error_message_on :x
    =f.number_field :x, :class => :x

    =f.label :y
    =f.error_message_on :y
    =f.number_field :y, :class => :y
    
  %br
  %span.description Alter these values to position the story on the map
  %img#map_image{:src=>@story.map.image, :width => "800"}
  #marker{:style=>"display: block; position: absolute; z-index: 2000; width: 8px; height: 8px; background-color: black;"}
.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:stories, :index)}';return false", :class => :button

:javascript
  $(function() {
    var $map = $("#map_image");
    window.redrawMarker = function() {
      var left = $map.offset().left + (parseInt($("#story_x").val()) * $map.width()/100.0 );
      console.log(left);
      $("#marker").css("left", left);
      $("#marker").css("top", $map.offset().top + (parseInt($("#story_y").val()) * $map.height()/100.0 ));
    }
    $("#story_x").bind("change", function() { redrawMarker(); });
    $("#story_y").bind("change", function() { redrawMarker(); });
    $("#map_image").click(function(e) {
        var offset = $(this).offset();
        var x = 100*(e.clientX - offset.left)/$(this).width();
        var y = 100*(e.clientY - offset.top + $(document).scrollTop())/$(this).height();
        $("#story_x").val(Math.round(x) + "");
        $("#story_y").val(Math.round(y) + "");
        redrawMarker();
    });
    redrawMarker();
    var markerInterval = setInterval(redrawMarker, 500);
  });